# Dependencies
node_modules
npm-debug.log

# Build outputs
dist
build

# Test coverage
coverage
.nyc_output

# Environment files
.env
.env.local
.env.*.local

# IDE
.vscode
.idea
*.swp
*.swo

# Logs
*.log
logs

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Misc
*.md
README.md
test
.eslintrc.js
jest.config.js
tsconfig.build.tsbuildinfo
*.tsbuildinfo