# API Configuration
EXPO_PUBLIC_API_URL="http://127.0.0.1:3002/api"
EXPO_PUBLIC_SOCKET_URL="http://127.0.0.1:3002/chat"

# Google Auth Configuration
EXPO_PUBLIC_GOOGLE_CLIENT_ID=""
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=""
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=""
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=""